.issueContainer > StackPane {
    -fx-background-color: pink;
    -fx-cursor: hand;
}

.issueContainer > StackPane.hover {
    -fx-background-color: lightyellow;
}

.issueContainer > StackPane.active {
    -fx-background-color: lightgreen;
    -fx-cursor: default;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

Hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 0;
}
