GridPane StackPane {
    -fx-background-color: pink;
    -fx-cursor: hand;
}

GridPane StackPane.hover {
    -fx-background-color: lightyellow;
}

GridPane StackPane.active {
    -fx-background-color: lightgreen;
    -fx-cursor: default;
}

Hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 0;
}
